nodered/meteostanica-day.12.json
[
    {
        "id": "793a0d76.51b7e4",
        "type": "tab",
        "label": "Meteo Servis",
        "disabled": false,
        "info": ""
    },
    {
        "id": "de195574.0981e8",
        "type": "tab",
        "label": "HTTP REST API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7f55e301.ab528c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "64c8f6a2.6842a8",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "65b1a654.68d6e8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "65b1a654.68d6e8",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "51be34ec.eb5aac",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "9c0703d0.2f8c8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "60b8b1c.392af5",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "38a96577.b5c22a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e3bdb968.2c9cc8",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "9c0703d0.2f8c8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "260ce588.4f3d3a",
        "type": "ui_group",
        "name": "Light",
        "tab": "9c0703d0.2f8c8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "643be543.b17b0c",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "84d09c41.7880a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1fd912bc.bc8ddd",
        "type": "ui_group",
        "name": "Light",
        "tab": "26016335.cb86cc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9c0703d0.2f8c8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "38a96577.b5c22a",
        "type": "ui_tab",
        "name": "Temperature",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "84d09c41.7880a",
        "type": "ui_tab",
        "name": "Humidity",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "26016335.cb86cc",
        "type": "ui_tab",
        "name": "Light",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "522d4519.456b2c",
        "type": "ui_group",
        "name": "Messages",
        "tab": "9c0703d0.2f8c8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6cfce82e.1e0f68",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "5f188ed4.5dd19",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "649aa203.1cc67c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2c5670b4.61e1e",
        "type": "ui_group",
        "name": "ITA IoT",
        "tab": "9c0703d0.2f8c8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2f3cd98a.3e43f6",
        "type": "worldmap",
        "z": "793a0d76.51b7e4",
        "name": "",
        "lat": "48.730892",
        "lon": "21.245767",
        "zoom": "15",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "x": 460,
        "y": 300,
        "wires": []
    },
    {
        "id": "3fe0a537.c485fa",
        "type": "mqtt in",
        "z": "793a0d76.51b7e4",
        "name": "",
        "topic": "ita/meteoservis/#",
        "qos": "2",
        "datatype": "json",
        "broker": "6cfce82e.1e0f68",
        "x": 250,
        "y": 180,
        "wires": [
            [
                "2f3cd98a.3e43f6",
                "8c05d61f.079658",
                "37ed8d02.d96462",
                "f8a5dc60.f9abf"
            ]
        ]
    },
    {
        "id": "df0b0ef2.5d391",
        "type": "inject",
        "z": "793a0d76.51b7e4",
        "name": "marker",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "9138dc47.9df47"
            ]
        ]
    },
    {
        "id": "9138dc47.9df47",
        "type": "openweathermap",
        "z": "793a0d76.51b7e4",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "kosice",
        "country": "slovensko",
        "language": "en",
        "x": 410,
        "y": 360,
        "wires": [
            [
                "be5d6e72.04b8e"
            ]
        ]
    },
    {
        "id": "321b55f1.3c26da",
        "type": "template",
        "z": "793a0d76.51b7e4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"name\": \"mirek\",\n    \"lat\": 48.730892,\n    \"lon\": 21.245767,\n    \"iconColor\": \"#0000ff\",\n    \"icon\": \"home\",\n    \"ttl\": 30,\n    \"photoUrl\": \"https://bletvaska.github.io/images/mirek.na.hackathone.jpg\",\n    \"weblink\": {\n        \"name\": \"homepage\",\n        \"url\": \"https://bletvaska.github.io/\",\n        \"target\": \"_new\"\n    },\n    \"label\": \"mirek is here\",\n    \"temp\": \"{{ payload.tempc }}°C\",\n    \"hum\": \"{{ payload.humidity }}%\"\n}\n",
        "output": "json",
        "x": 880,
        "y": 360,
        "wires": [
            [
                "a580bbfd.39fa18",
                "94c6809.8147d8"
            ]
        ]
    },
    {
        "id": "a580bbfd.39fa18",
        "type": "mqtt out",
        "z": "793a0d76.51b7e4",
        "name": "",
        "topic": "ita/meteoservis/mirek",
        "qos": "2",
        "retain": "true",
        "broker": "5f188ed4.5dd19",
        "x": 1080,
        "y": 360,
        "wires": []
    },
    {
        "id": "94c6809.8147d8",
        "type": "debug",
        "z": "793a0d76.51b7e4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 280,
        "wires": []
    },
    {
        "id": "8c05d61f.079658",
        "type": "debug",
        "z": "793a0d76.51b7e4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "919aa230.a8453",
        "type": "ui_text",
        "z": "793a0d76.51b7e4",
        "group": "2c5670b4.61e1e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "df08b8e2.6b9bf8",
        "type": "ui_gauge",
        "z": "793a0d76.51b7e4",
        "name": "temp",
        "group": "2c5670b4.61e1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Teplota",
        "label": "°C",
        "format": "{{ value }}",
        "min": "-20",
        "max": "45",
        "colors": [
            "#14e4ff",
            "#24ff14",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "32",
        "x": 630,
        "y": 20,
        "wires": []
    },
    {
        "id": "37ed8d02.d96462",
        "type": "template",
        "z": "793a0d76.51b7e4",
        "name": "temperature",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{ payload.temperature }}",
        "output": "str",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "df08b8e2.6b9bf8",
                "919aa230.a8453",
                "52747fd1.5cb6"
            ]
        ]
    },
    {
        "id": "52747fd1.5cb6",
        "type": "ui_chart",
        "z": "793a0d76.51b7e4",
        "name": "",
        "group": "2c5670b4.61e1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 630,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f8a5dc60.f9abf",
        "type": "template",
        "z": "793a0d76.51b7e4",
        "name": "humidity",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{ payload.humidity }}",
        "output": "str",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "af469c23.9e8f",
                "7ef74b.7df2e8b4"
            ]
        ]
    },
    {
        "id": "af469c23.9e8f",
        "type": "ui_gauge",
        "z": "793a0d76.51b7e4",
        "name": "hum",
        "group": "e3bdb968.2c9cc8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Vlhkost",
        "label": "%",
        "format": "{{ value }}",
        "min": "0",
        "max": "100",
        "colors": [
            "#14e4ff",
            "#24ff14",
            "#ca3838"
        ],
        "seg1": "15",
        "seg2": "32",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "7ef74b.7df2e8b4",
        "type": "ui_chart",
        "z": "793a0d76.51b7e4",
        "name": "",
        "group": "e3bdb968.2c9cc8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "vlhkost",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 660,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c14f7805.a7ab08",
        "type": "http request",
        "z": "793a0d76.51b7e4",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://maker.ifttt.com/trigger/pocasie/with/key/cMeFIVN1z3RPAOvdsAQ0rf",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1050,
        "y": 480,
        "wires": [
            [
                "60c07ac0.75e404"
            ]
        ]
    },
    {
        "id": "4e24fa44.4d79a4",
        "type": "template",
        "z": "793a0d76.51b7e4",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"value1\":\"{{ payload.tempc }}\",\n    \"value2\":\"{{ payload.humidity }}\"\n}",
        "output": "json",
        "x": 880,
        "y": 480,
        "wires": [
            [
                "c14f7805.a7ab08"
            ]
        ]
    },
    {
        "id": "60c07ac0.75e404",
        "type": "debug",
        "z": "793a0d76.51b7e4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 480,
        "wires": []
    },
    {
        "id": "aa8197c5.c3c468",
        "type": "http in",
        "z": "de195574.0981e8",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 470,
        "y": 240,
        "wires": [
            [
                "c98cddce.a326b"
            ]
        ]
    },
    {
        "id": "13fe3cae.4120b3",
        "type": "http response",
        "z": "de195574.0981e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "c98cddce.a326b",
        "type": "template",
        "z": "de195574.0981e8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<h1>Hello world!</h1>\n\n<p>\n    Vytajte na mojej slovianskej webovej stranke narodniej.\n</p>",
        "output": "str",
        "x": 680,
        "y": 240,
        "wires": [
            [
                "13fe3cae.4120b3"
            ]
        ]
    },
    {
        "id": "e3b85bfc.255c08",
        "type": "http in",
        "z": "de195574.0981e8",
        "name": "",
        "url": "/hello/:name/:surname",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 430,
        "y": 340,
        "wires": [
            [
                "18271fad.44426"
            ]
        ]
    },
    {
        "id": "897ade29.52dc2",
        "type": "http response",
        "z": "de195574.0981e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "18271fad.44426",
        "type": "template",
        "z": "de195574.0981e8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<h1>Hello {{ req.params.name }}!</h1>",
        "output": "str",
        "x": 700,
        "y": 340,
        "wires": [
            [
                "897ade29.52dc2"
            ]
        ]
    },
    {
        "id": "e7b625a9.49ddf8",
        "type": "http in",
        "z": "de195574.0981e8",
        "name": "",
        "url": "/temperature",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "d7b02c7a.6fe72"
            ]
        ]
    },
    {
        "id": "92578276.dcd7d",
        "type": "http response",
        "z": "de195574.0981e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 420,
        "wires": []
    },
    {
        "id": "d7b02c7a.6fe72",
        "type": "template",
        "z": "de195574.0981e8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{ global.temp }}",
        "output": "json",
        "x": 700,
        "y": 420,
        "wires": [
            [
                "92578276.dcd7d"
            ]
        ]
    },
    {
        "id": "be5d6e72.04b8e",
        "type": "change",
        "z": "793a0d76.51b7e4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp",
                "pt": "global",
                "to": "payload.tempc",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "humidity",
                "pt": "global",
                "to": "payload.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 360,
        "wires": [
            [
                "321b55f1.3c26da",
                "4e24fa44.4d79a4"
            ]
        ]
    },
    {
        "id": "ad4e2264.55a4a",
        "type": "http in",
        "z": "de195574.0981e8",
        "name": "",
        "url": "/humidity",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 460,
        "y": 500,
        "wires": [
            [
                "6e983224.18d54c"
            ]
        ]
    },
    {
        "id": "6e983224.18d54c",
        "type": "template",
        "z": "de195574.0981e8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{ global.humidity }}",
        "output": "json",
        "x": 700,
        "y": 500,
        "wires": [
            [
                "fab9f3a7.8d04d"
            ]
        ]
    },
    {
        "id": "fab9f3a7.8d04d",
        "type": "http response",
        "z": "de195574.0981e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 890,
        "y": 500,
        "wires": []
    }
]